.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  background: #f8f9fa;
  margin-left: 200px;
  height: 500px;
  width: 1000px;

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: visible;

    th, td {
      border: 1px solid #ddd;
      padding: 12px 16px;
      text-align: center;
    }

    th {
      background-color: #007bff;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

   

    tr:hover {
      background-color: #eaf3ff;
      transition: 0.3s ease;
    }

    input {
      width: 95%;
      padding: 8px 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
      font-size: 14px;
      transition: border 0.3s, box-shadow 0.3s;

     
      &::placeholder {
        color: #aaa;
      }
    }
  }
}
